.title-direct {
    text-align: center;
}

#one-title {
    color: rgb(66, 66, 66);
    margin-top: 30px;
}

#galeria {
    width: 10%;
    margin-left: 10px;
    max-width: 100%;
}

.enlaces {
    text-align: center;
}