ul {
    list-style: none;
}

#contact-div {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aliceblue;
    border-radius: 20px;
    font-size: small;
}

#columnas {
    font-weight: 100;
}

#second-word {
    color: yellow;
    font-size: 20px;
}