.banner-container {
    margin-top: 50px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    align-content: center;
}
.nav-container {
    background-color: white;
    text-align: center;
}

.login-container {
    margin-top: 40px;
    background-size: cover;
    background-color: white;
}

.Accesos-container {
    width: 90%;
    margin: 0 auto;
}

.Contacto-container {
    margin-top: 80px;
}