.banner-container {
    text-align: center;
    align-content: left;
    align-content: center;
    border-radius: 6px;
    position: relative;
    margin-top: 15px;
}
.Info-container {
    position: relative;
    text-align: center;
    align-content: left;
    align-content: center;
    background: wheat;
    font-size: 30px;
}

/* Datos Biblioteca */
.table_A {
    font-size: 16px;
    display: inline-block;
}

.table_A thead tr td {
    background:#0575E6;
    height: 4vh;
    width: 25vh;
}

.table_A tbody tr td{
    background: white;
    height: 8vh;
    width: 25vh;
}

/* Accordion */
.accordion {
    display: inline-block;
    width: 90%;
}

.accordion h5 {
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
}
.accordion h6 {
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
}

/* Tablas Componentes */

.table_B {
    font-size: 16px;
    display: inline-block;
}

.table_B thead tr td {
    background:#0575E6;
    height: 4vh;
    width: 40vh;
}

.table_B tbody tr td{
    background: wheat;
    height: 8vh;
}

.select h5 {
    font-size: 18px;
}

.select {
    display: inline;
}

/* DOCUMENTOS */

.one{
    font-size:medium;
    color: rgb(0, 0, 255);
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.two{
    font-size:medium;
    color: rgb(250, 5, 5);
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.same{
    font-size: 17px;
    font-style: oblique;
}

#igual{
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}