.banner-container {
    border-radius: 6px;
    position: relative;
    margin-top: 15px;
}
.Info-container {
    position: relative;
    text-align: center;
    background: wheat;
    font-size: 30px;
}

/* Datos Biblioteca */
.table_A {
    font-size: 16px;
    display: inline-block;
}

.table_A thead tr td {
    background:#0575E6;
    height: 4vh;
    width: 25vh;
}

.table_A tbody tr td{
    background: white;
    height: 8vh;
    width: 25vh;
}

/* Accordion */
.accordion {
    display: inline-block;
    width: 90%;
}

.accordion h5 {
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
}
.accordion h6 {
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
}

/* Tablas Componentes */

.table_B {
    font-size: 16px;
    display: inline-block;
}

.table_B thead tr td {
    background:#0575E6;
    height: 4vh;
    width: 40vh;
}

.table_B tbody tr td{
    background: wheat;
    height: 8vh;
}

.select h5 {
    font-size: 18px;
}

.paginas_pag {
    display:inline-block;
}

.img_web {
    width: 50%;
    height: 50%;
}

.img_info {
    width: 10%;
    height: 10%;
}

.tabla_info {
    display:inline-block;
    font-size: 20px;
    border: #0575E6;
    border-style: dotted;
    border-radius: 6px;
}

.tabla_info tbody tr td{
    height: 8vh;
    width: 30vh;
}

